<!DOCTYPE html>
<html>
    <head>
        <title>{%block title%} {%endblock%}</title>
    </head>
    
           
           <nav >
            
            
              <ul >
                <li >
                  <a href="/login/">Login </a>
                </li>
                <li >
                    <a href="/signup/">Signup </a>
                  </li>
                  
                
              </ul>
              
            </div>
          </nav> 
    <body>
        {%block body%} {%endblock%}
    </body>
</html>