{%extends 'registrationapi/header.html' %}

        {%block title%} Home Page{%endblock%}
       
        {%block body%} 
            <h1> Home Page</h1>
            
            
            <a href="/login/"> login</a>
            <br>
            <a href="/signup/"> signup</a>
            <br>
            
            
            {%endblock%}
