{%extends 'registrationapi/header.html' %}
{%block title%} Login Page{%endblock%}
{%block body%} 
<h1>LoginPage</h1>
<form action="" method="post">
    <table>
        {{login_form}}
    
    </table>

<input type="submit"></input>
</form>    

    


{%endblock%}


