<!DOCTYPE html>
<html>
<body>

<h1> Signup Page</h1>
<form action="" method="post">
    <table>
        {{register_form}}
    
    </table>

<input type="submit"></input>
</form>    

 

</body>
</html>


