{%extends 'registrationapi/header.html' %}

        {%block title%} Home Page{%endblock%}
       
        {%block body%} 
            <h1> Logged In</h1>
            
            <a href="/logout/"> Logout</a>
            
            {%endblock%}
