{%extends 'registrationapi/header.html' %}
{%block title%} Login Page{%endblock%}
{%block body%} 
<h1>User Profile</h1>
<form action="" method="post" enctype="multipart/form-data">
    <table>
        {{form}}
    
    </table>

<input type="submit"></input>
</form>


{%endblock%}


